---
layout: default
---

<div class="home">
  <h2 class="section-title">📝 最近文章</h2>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li class="post-item">
        <a class="post-link" href="{{ post.url | relative_url }}">
          <h3>{{ post.title }}</h3>
          <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a class="pagination-prev" href="{{ paginator.previous_page_path | relative_url }}">&laquo; 上一页</a>
    {% else %}
      <span class="pagination-prev disabled">&laquo; 上一页</span>
    {% endif %}

    <span class="pagination-info">第 {{ paginator.page }} / {{ paginator.total_pages }} 页</span>

    {% if paginator.next_page %}
      <a class="pagination-next" href="{{ paginator.next_page_path | relative_url }}">下一页 &raquo;</a>
    {% else %}
      <span class="pagination-next disabled">下一页 &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>
